<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Listado de Simulaciones</title>
</head>
<body>
    <h1>Historial de Simulaciones</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nombres</th>
                <th>Cédula</th>
                <th>Email</th>
                <th>Celular</th>
                <th>Capital Inicial</th>
                <th>Frecuencia Capitalización</th>
                <th>Valor Futuro</th>
                <th>Interés Ganado</th>
                <th>Categoría</th>
                <th>Fecha Creación</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="simulacion : ${listarSimulaciones}">
                <td th:text="${simulacion.nombres}">Nombres</td>
                <td th:text="${simulacion.cedula}">Cédula</td>
                <td th:text="${simulacion.email}">Email</td>
                <td th:text="${simulacion.celular}">Celular</td>
                <td th:text="${#numbers.formatDecimal(simulacion.capitalInicial, 1, 'COMMA', 2, 'POINT')}">$0.00</td>
                <td th:text="${simulacion.numeroPeriodos}">0</td>
                <td th:text="${#numbers.formatDecimal(simulacion.valorFuturo, 1, 'COMMA', 2, 'POINT')}">$0.00</td>
                <td th:text="${#numbers.formatDecimal(simulacion.interesGanado, 1, 'COMMA', 2, 'POINT')}">$0.00</td>
                <td th:text="${simulacion.categoria}">Categoría</td>
                <td th:text="${#dates.format(simulacion.fechaCreacion, 'dd/MM/yyyy HH:mm')}">01/01/2025</td>
            </tr>
        </tbody>
    </table>

    <br>
    <a th:href="@{/simulacion/formulario}">Nueva Simulación</a>

</body>
</html>
